

.App {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.date {
  width: 100%;
  margin-top: 20px;
}
@media (max-width: 763px) {
  .content-tag {
    padding-left: 15%;
  }
}
.date h7 {
  font-weight: bold;
}
.date p {
  float: right;
  font-weight: bold;
}
/*main dashboard*/



.head-card-main .head {
  padding: 15px 10px 10px;
  color: white;
}

.head-card-fav {
  margin-top: 5%;
  background-image: linear-gradient(to left,#148178,#0d7377,#1b6471) ;
  border-radius: 25px;
  box-shadow: 2px 2px 3px black;
  
}


.head-card-fav .head {
  padding: 15px 10px 10px;
  color: white;
}

.profile-head-card {
  margin-top: 5%;
  background-image: linear-gradient(to right,#003a81,#00639e,#008bae) ;

  color: white;
  border-radius: 25px;
  box-shadow: 2px 2px 3px black;
}

.profilemaincard .profilemaincard-lhs-about{
  border-radius: 17px;
  box-shadow: 0px 12px 10px  rgb(221, 221, 221);
  background-color: white;
  
}
.profilemaincard .profilemaincard-rhs-education{
  border-radius: 17px;
  box-shadow: 0px 12px 10px  rgb(221, 221, 221);
  background-color: white;
  
}
.profilemaincard h2{
  text-decoration: underline rgb(165, 42, 69);
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.profilemaincard p{
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.greybox{
  background-color: #fdfdfd;
}
.secondary-school{
  border-radius: 15px;
  background-color: rgb(255, 205, 230);
  text-align: center;
}
.secondary-school h4 h5 ,.high-school h4 h5 ,.college-school h4 h5 {
  color:rgb(43, 43, 43);
}
.fa-graduation, .fa-school{
 color:rgb(75, 75, 75)
}
.secondary-school p , .high-school p , .college-school p {
  color:rgb(97, 97, 97);
}
.high-school{
  border-radius: 15px;
 
  background-color: rgb(253, 252, 169);
  text-align: center;

}
.college-school{
  border-radius: 15px;
 
  background-color: peachpuff;
  text-align: center;

}


.profilecardmain-skills-btn{
  background: #388697;
  color: white;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 12px 10px  rgb(221, 221, 221);
}
.profilecardmain-interest-btn{
  background: #204e4a;
  color: white;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 12px 10px  rgb(221, 221, 221);

}
.profilemaincard-rhs-we p{
  color: grey;
}
.profilemaincard-rhs-we h5 ,.profilemaincard-rhs-we h6{
  color: rgb(100, 100, 100);
}

.resumebox-headbox{
  background-color: #20a39e;
  color: white;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.resume-box-social{
  text-align: end;
}
.resumebox-skills h3{
  border-bottom: solid 2px #08415c;
}
.resumebox-edu{
  border-left: dotted 2px #cee1e7;
}
.resumebox-edu-head{
  border-left: solid 5px #03c2e4;
  
  background-color: #c1eff7;
}
.article-head-card{
  background-color: #f8f1e4;
  border-radius: 15px;
  box-shadow: 0px 12px 10px  rgb(221, 221, 221);

}
.btn-delete{
  border-radius: 4px;
  color:white;
  float: right;

}
.btn-delete:hover{
  box-shadow: 2px 2px 3px #ab2346;
}
.article-add-icon{
  border-radius: 4px;
  margin-right: 0px;
  float: right;
}