.nav {
  height: 100%;

  right: 0px;
  top: 0px;
}
.navbar-right--cstm {
  background-color: #ecf4ff !important;
  border-radius: 1.25rem 0 0 1.25rem;
  box-shadow: -9px 0px 7px -9px rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.avatar-svg {
  height: 10rem;
  width: 10rem;
}
.reminders--box {
  background: #ecf4ff;
  border-radius: 1.25rem;
  margin-left: 20px;
}
.custom-btn-dash {
  background: #4d45b2;
  color: #ffff;
  padding: 1rem 1.5rem;
  border-radius: 3rem;

  font-size: 0.8rem;
}
.custom-btn-dash:focus {
  outline: 0;
}
