
    .main-navbar{
        color: white;
        
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        z-index: 100;
    }

.main-navbar .nav-item{
    padding: 10px;
}
.main-navbar .nav-item .navbar-btn-half{
    outline: none;
}

.homepage-main {
   background-color: #f1f1f1;
   height: 100vh;
}
.homepage-main-mainimg{
    position: absolute;
    height: 100vh;
    width: 60%;
    top: 0%;
    right: 0%;
    
    
}

.homepage-main-display{
    padding-top: 13%;
    padding-bottom:14% ;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    z-index: 3;
}

.homepage-main-display-rhs{
  border: 2px solid rgb(155, 155, 155);
  padding-top: 40px;
  padding-bottom: 20px;
  border-radius: 20px;
  background-color: #0009;
  box-shadow: 0 5px 28px grey;
  left: 0%;

}
.homepage-main-display-rhs:hover{
    
    box-shadow: 0 5px 28px rgb(184, 184, 184);
}
.loginform{
    border: none;
    border-bottom: 4px solid white;
    padding: 10px;
    color: white;
    outline: none;
    background-color:transparent;
}
.loginform::placeholder{
    color: rgb(214, 214, 214);
}
.homepagelogin-btn-half{
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;
    background-color: rgb(35, 108, 168);
    box-shadow: 2px 2px 4px black;
}
.homepagelogin-btn-half:hover{
    background-color: rgb(25, 74, 114);
    color: white;
}
.homepage-main-display-lhs h1, .homepage-main-display-lhs h2{
    font-weight: bolder;
    align-items: center;
    text-align: center;
    margin-left: 0%;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-shadow: 2px 2px 3px rgb(65, 65, 65);
}

.homepage-main-display-rhs p{
    
    color: white;
}
@media (max-width:767px){
    .homepage-main-display {
        background-color: #ffffff;
        align-items: center;
        justify-content: center;
        text-align: center;
        top: 2%;
        background-image: url('../../assets/homepage/img/mainbg2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
         

    }
    .homepage-main-display-lhs {
       
        text-align: center;
        padding-top: 20%;
        padding-bottom: 20%;
    
    }
    
}
.modal-btn-half{
    background-color:#0007;
    color: white;
    font-weight: bolder;
    z-index: 3;
    margin-left: 0px;
}
.modal-btn-half:hover{
    color: white;
    box-shadow:0 0 20px white ;
}
.modalmain{
    z-index: 3;
}

.joinus{
    padding: 20px;
    background-color: rgb(39, 55, 100);
    color: white;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.modal-para{
    color: rgb(184, 184, 184);
    font-weight: lighter;
}
.modal-header , .modal-footer{
    
    text-align: center;
    background-color: rgba(15, 109, 76, 0.856);
    
}
.signupform{
    padding: 5px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 1px 5px black;
}
.homepagesignup-btn-half{
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;
    background-color: rgb(168, 35, 35);
    box-shadow: 2px 2px 4px black;
}
.homepage-aboutcard h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-align: center;
}
.homepage-aboutcard p{
    text-align: center;
}
.homepage-aboutcard-lhs{
    border: 1px solid rgb(241, 241, 241) ;
    box-shadow:0px 5px 30px #f0f0f0;
    
    border-radius: 5px;
    border-top-left-radius: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.homepage-aboutcard-rhs{
    border: 1px solid rgb(241, 241, 241) ;
    box-shadow:0px 5px 30px #f0f0f0;
    border-radius: 5px;
    border-bottom-right-radius: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.homepage-about-img{
    width:80px;
    height:80px;
    border-radius:50%;
    text-align: center;  
    margin-top:-24%;
   
}
.homepage-about-head-circle{
    width:80px;
    height:80px;
    border-radius:50%;
    padding-top:21px ;
    background-color: rgb(255, 254, 254) ;
    text-align: center;  
    margin-top:-24%;
    border: 6px solid #267891;
    color: #267891;
}
@media (max-width:767px){
    .homepage-about-img{
        width:80px;
        height:80px;
        border-radius:50%;
        text-align: center;  
        margin-top:-37%;
       
    }
    .homepage-about-head-circle{
        width:80px;
        height:80px;
        border-radius:50%;
        padding-top:21px ;
        background-color: rgb(255, 254, 254) ;
        text-align: center;  
        margin-top:-37%;
        border: 6px solid #267891;
        color: #267891;
    }
}
    .team{
        padding-bottom: 50px;
    }
    .team .team-heading{
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .team-heading h1{
        font-weight: bold;
        text-decoration: underline grey;   
    }
    .team-heading p{
        font-weight: lighter;
        color: grey;   
    }
    .team-section .team-lhs img{
        box-shadow: 5px 5px 10px rgb(32, 32, 32);
    }
    .team-section .team-rhs .team-name{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bolder;
        text-align: center;
    }
    .team-section .team-rhs .team-position ,  .team-section .team-rhs h5{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #08bef5;
        text-align: center;
    }
    .team-section .team-rhs p{
      color: grey;
    }
    @media (max-width:767px){
        .team-section .team-lhs img{
            box-shadow: 5px 5px 10px rgb(32, 32, 32);
            border-radius: 50%;
            margin-bottom: 30px;
        } 
        .team-section .team-rhs p{
            color: grey;
            text-align: center;
          }
    }
.footer{
    z-index: 100;
    background-color: rgb(39, 55, 100);
    box-shadow: 1px 1px 15px grey;
    
}
.footer-container{
    background-color: white;
    
}
.footer-container .footer-form input{
    
    padding: 8px;
    outline: none;
    border:1px solid rgb(104, 103, 103);
    border-radius: 10px;
    margin: 10px;

}
.footer-container .footer-form textarea{
    
    padding: 8px;
    outline: none;
    border:1px solid rgb(104, 103, 103);
    border-radius: 10px;
    margin: 10px;
}

.footer-form-btn-half{
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    color: white;
    background-color: rgb(0, 119, 255);
}
.footerlinks{
    color:black;
}
.homepage-contact-delatils{
    text-align: center;
}