.scroll-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index:5;
    outline: none;
    color:transparent;
}
.main-loading{
    height: 100vh;
    
    background-image: linear-gradient(to right top,#08415c,#00687f,#00918f) ;

}
.main-spinner{
    margin-top: 22%;
}
@media (max-width:767px){
    .main-spinner{
        margin-top: 45vh;
    }
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2, h3, h4, h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
}